@model Degree

<h2>Delete Degree @Model?.Name</h2>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="DegreeId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.DegreeId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CreationTime"></label>
        </dt>
     @*    <dd class="col-sm-10">
            @Model?.Description
        </dd> *@
        @* <dt class="col-sm-2">
            <label asp-for="DateAdded"></label>
        </dt> *@
        <dd class="col-sm-10">
            @Model?.CreationTime.Value.ToShortDateString()
        </dd>

    </dl>
</div>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="DegreeId" />
    <input type="submit" value="Delete category" class="btn btn-danger" />
</form>

<div>
    <a asp-controller="Degree" asp-action="Index">Back to overview</a>
</div>