@model CandidateViewModel

    @{
        ViewData["Title"] = "Add Candidate";
    }

    <h1>Add Candidate</h1>

<form method="post" asp-controller="Candidate" asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*     <input type="hidden" asp-for="Candidate.CandidateId" /> *@
    <div class="form-group">
        <label asp-for="Candidate.FirstName" class="form-label"></label>
        <input asp-for="Candidate.FirstName" class="form-control" />
        <span asp-validation-for="Candidate.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Candidate.LastName" class="form-label"></label>
        <input asp-for="Candidate.LastName" class="form-control" />
        <span asp-validation-for="Candidate.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Candidate.Email" class="form-label"></label>
        <input asp-for="Candidate.Email" class="form-control" />
        <span asp-validation-for="Candidate.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Candidate.Mobile" class="form-label"></label>
        <input asp-for="Candidate.Mobile" class="form-control" />
        <span asp-validation-for="Candidate.Mobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Candidate.CV" class="form-label"></label>
        <select asp-for="Candidate.CV"  class="form-control">
                <option value="pdf">PDF</option>
                <option value="word">Word</option>
                <option value="excel">Excel</option>
        </select>
    </div>
            <label asp-for="SelectedDegrees" class="form-label">Degrees</label>
             <select asp-for="SelectedDegrees" asp-items="Model.AllDegrees" multiple="multiple" class="form-control"></select>
           <span asp-validation-for="Candidate.CandidateDegrees" class="text-danger"></span> 
   </div>  
        <button type="submit" class="btn btn-primary">Add Candidate</button>
    </form>
    <div>
        <a asp-controller="Candidate" asp-action="Index">Back to overview</a>
    </div>

