@model CandidateEditViewModel

<h2>Update Candidate @Model.Candidate.FirstName</h2>
<hr />

<form method="post" asp-controller="Candidate" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Candidate.CandidateId" />

    <div class="mb-3">
        <label asp-for="Candidate.FirstName" class="form-label"></label>
        <input asp-for="Candidate.FirstName" class="form-control" />
        <span asp-validation-for="Candidate.FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Candidate.LastName" class="form-label"></label>
        <input asp-for="Candidate.LastName" class="form-control" />
        <span asp-validation-for="Candidate.LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Candidate.Email" class="form-label"></label>
        <input asp-for="Candidate.Email" class="form-control" />
        <span asp-validation-for="Candidate.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Candidate.Mobile" class="form-label"></label>
        <input asp-for="Candidate.Mobile" class="form-control" />
        <span asp-validation-for="Candidate.Mobile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Candidate.CV" class="form-label"></label>
        <input asp-for="Candidate.CV" class="form-control" />
        <span asp-validation-for="Candidate.CV" class="text-danger"></span>
    </div>
    <div>
    <label asp-for="SelectedDegrees" class="form-label">Degrees</label>
    <select asp-for="SelectedDegrees" asp-items="Model.AllDegrees" multiple="multiple" class="form-control"></select>
    <span asp-validation-for="Candidate.CandidateDegrees" class="text-danger"></span>
    </div>
    <input type="submit" value="Update candidate" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Candidate" asp-action="Index">Back to overview</a>
</div>